@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: 'Open Sans';
}

body *,
body *::before,
body *::after {
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

body .start-message h1 {
  font-size: 1.5rem;
  line-height: 1.44;
  color: #85b73c;
}

body .start-message #line {
  height: 0.1rem;
  background-color: #85b73c;
  width: 3rem;
  margin-right: 10px;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

body .container p {
  color: #85878f;
  font-size: 1.0rem;
  line-height: 1.71;
}

body .container h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c2f46;
}

body .container h4 {
  font-family: OpenSans;
  text-transform: uppercase;
  color: #85878f;
  font-size: 1rem;
  font-weight: 600;
}

body .container .courier-delivery {
  margin: 40px 0;
}

body .container .courier-delivery #delivery-car-img {
  width: 100%;
}

@media (min-width: 800px) {
  body .container .courier-delivery {
    overflow: hidden;
  }
  body .container .courier-delivery .courier-image {
    display: block;
    float: right;
    width: auto;
  }
  body .container .courier-delivery .courier-image #delivery-car-img {
    width: 15rem;
  }
  body .container .courier-delivery .description {
    display: block;
    width: 70%;
  }
}

body .container .local-delivery ul.description-bulletpoints {
  margin: 15px 33px 0 8px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.43;
  color: #85878f;
}

body .container .local-delivery ul.description-bulletpoints li {
  padding: 5px;
}

body .container .contact-info i.fa {
  font-size: 1.8em;
  width: 1.8em;
  text-align: center;
  line-height: 1.8em;
  background: #1e4ca8;
  color: white;
  border-radius: 1em;
}

body .container .contact-info .service-left .icon {
  text-align: center;
}

body .container .contact-info .service-left .icon i.fa {
  position: relative;
  top: calc(50% - 40px);
}

body .container .contact-info .service-right .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .container .heading-two {
  margin: 40px 0;
}

body .container .heading-two h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #2682bd;
}

body .container .heading-two table {
  margin: 20px 0 50px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e4e6e9;
  color: #2c2f46;
  text-align: center;
  font-size: 0.95rem;
}

body .container .heading-two table :first-child {
  width: 50%;
}

body .container .heading-two table tr:first-child th {
  text-align: center;
  background-color: #f5f7fb;
  text-transform: uppercase;
  opacity: 0.55;
  font-weight: bold;
  line-height: 1.69;
  color: #85878f;
}

body .container .heading-two table th,
body .container .heading-two table td {
  border: 1px solid #e4e6e9;
  padding: 15px 30px;
}

body .container .heading-two table td {
  line-height: 1.57;
}

body .container .heading-two table th:nth-child(1) {
  color: #85878f;
  text-align: left;
  background-color: #fcfdff;
}

body .container .heading-two table i.fa {
  color: green;
  width: auto;
}

body .container .heading-two #first-table {
  display: none;
}

@media (min-width: 1200px) {
  body .container .heading-two table {
    border-collapse: collapse;
    border: none;
    float: left;
    width: 25%;
  }
  body .container .heading-two table tr:last-child {
    height: 104px;
  }
  body .container .heading-two table tr:nth-child(2) {
    height: 82px;
  }
  body .container .heading-two table tr:nth-child(3),
  body .container .heading-two table tr:nth-child(4) {
    height: 60px;
  }
  body .container .heading-two #first-table {
    display: block;
    text-align: left;
  }
  body .container .heading-two #first-table tr:first-child th .hidden-text {
    opacity: 0;
  }
  body .container .heading-two #first-table th:nth-child(2) {
    display: none;
  }
  body .container .heading-two #first-table tr:not(:first-child) td {
    display: none;
  }
  body .container .heading-two table ~ table tr:first-child th:first-child {
    display: none;
  }
  body .container .heading-two table ~ table tr:not(:first-child) th {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */