@import 'colors';
@import 'media-queries';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {

	*,
	*::before,
	*::after {
		box-sizing: unset; // 1
	}


	@include desctop {

	}

	font-family: 'Open Sans';

	.start-message {

		h1 {
			font-size: 1.5rem;
			line-height: 1.44;
			color: $lime;
		}

		#line {
			height: 0.1rem;
			background-color: $lime;
			width: 3rem;
			margin-right: 10px;
			transform: translateY(1rem);
		}
	}


	.container {
		p {
			color: $steel;
			font-size: 1.0rem;
			line-height: 1.71;
		}

		h2 {
			font-size: 1.2rem;
			font-weight: bold;
			color: $dark;
		}

		h4 {
			font-family: OpenSans;
			text-transform: uppercase;
			color: #85878f;
			font-size: 1rem;
			font-weight: 600;
		}

		.courier-delivery {
			margin: 40px 0;

			#delivery-car-img {
				width: 100%;
			}
		}

		@include tablet {
			.courier-delivery {
				overflow: hidden;

				.courier-image {
					display: block;
					float: right;
					width: auto;

					#delivery-car-img {
						width: 15rem;
					}
				}

				.description {
					display: block;
					width: 70%;
				}

			}
		}

		.local-delivery {
			ul.description-bulletpoints {
				margin: 15px 33px 0 8px;
				font-size: 1rem;
				font-weight: bold;
				line-height: 1.43;
				color: $steel;

				li {
					padding: 5px;
				}
			}
		}

		.contact-info {
			i.fa {
				font-size: 1.8em;
				width: 1.8em;
				text-align: center;
				line-height: 1.8em;
				background: #1e4ca8;
				color: white;
				border-radius: 1em;
			}

			.service-left {
				.icon {
					text-align: center;

					i.fa {
						position: relative;
						top: calc(50% - 40px);
					}
				}
			}


			.service-right {
				.row {
					justify-content: center;
					text-align: center;
				}
			}
		}


		.heading-two {
			margin: 40px 0;

			h3 {
				font-size: 1.2em;
				text-transform: uppercase;
				color: $blue;
			}

			table {
				margin: 20px 0 50px;
				width: 100%;
				border-collapse: collapse;
				border: 1px solid $light;
				color: $dark;
				text-align: center;
				font-size: 0.95rem;

				:first-child {
					width: 50%;
				}

				tr:first-child th {
					text-align: center;
					background-color: #f5f7fb;
					text-transform: uppercase;
					opacity: 0.55;
					font-weight: bold;
					line-height: 1.69;
					color: $steel;
				}


				th,
				td {
					border: 1px solid $light;
					padding: 15px 30px;
				}

				td {
					line-height: 1.57;
				}

				th:nth-child(1) {
					// width: 50%;
					color: $steel;
					text-align: left;
					background-color: #fcfdff;
				}


				i.fa {
					color: green;
					width: auto;
				}
			}

			#first-table {
				display: none;
			}

			@include desctop {

				table {
					border-collapse: collapse;
					border: none;
					float: left;
					width: 25%;

					tr:last-child {
						height: 104px;
						;
					}

					tr:nth-child(2) {
						height: 82px;
					}

					tr:nth-child(3), 
					tr:nth-child(4) {
						height: 60px;	
					}

				}

				#first-table {
					display: block;
					text-align: left;

					tr:first-child th {
						.hidden-text {
							opacity: 0;
						}
					}
				}

				#first-table th:nth-child(2) {
					display: none;
				}

				#first-table tr:not(:first-child) td {
					display: none;
				}

				table~table tr:first-child th:first-child {
					display: none;
				}

				table~table tr:not(:first-child) th {
					display: none;
				}
			}
		}


	}

}